.reviewWrapper {
  padding: 20px;
  width: 100%;
}

.table {
  margin: 20px auto;
  width: 100%;
}

.tableHead th {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #666;
  color: #666;
}

.tdButton {
  width: 120px;
  padding: 12px 0;
  text-align: center;
}

.loading {
  color: #666;
  font-weight: 600;
  display: block;
  margin: 0 0 20px 15px;
}
