.reviewFormWrapper {
  width: 100%;
  padding: 20px;
}

.button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--green);
  color: white;
  font-size: 17px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
