body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --green: #007242;
}
